<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="public/me.jpg" />
      <h2><a href="mailto:chillingwithim@gmail.com">{{ site.title }}</a></h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <!--<li class="sidebar-nav-item">Currently v{{ site.version }}</li> -->
      <li class="sidebar-nav-item social-links"><a href="https://twitter.com/acmacalister"><img src="public/twitter.png" /></a></li>
      <li class="sidebar-nav-item social-links"><a href="https://www.linkedin.com/pub/austin-cherry/85/133/742"><img src="public/linkedin.png" /></a></li>
      <li class="sidebar-nav-item social-links"><a href="http://instagram.com/acmacalister"><img src="public/instagram.png" /></a></li>
      <li class="sidebar-nav-item social-links"><a href="https://github.com/acmacalister"><img src="public/github.png" /></a></li>
    </ul>
  </div>
</div>
